<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/project/css/bootstrap2.css" />
    <link rel="stylesheet" href="/project/css/bootstrap.min.css">
    <link rel="stylesheet" href="/project/css/public.css">
    <script src="/project/js/jquery-2.1.3.js"></script>
    <script src="/project/js/bootstrap2.js"></script>
    <script src="/project/js/bootstrap.min.js"></script>
    <style>
        header .header-top .navbar-form {
            margin-top: 37px;
            margin-left: 18px;
        }
        
        header .header-top .navbar-form input {
            height: 25px;
            width: 200px;
        }
        
        header .header-top .navbar-form button {
            background-color: white;
            height: 25px;
            font-family: "宋体";
            font-weight: bold;
            color: #4682B4;
        }
        .yhm{
            position: relative;
            margin-top: -58px;
            margin-left: 575px;
        }
        .yhm_name{
           
            color: rgb(13, 12, 12);
        }
    </style>
</head>

<body>
    <header>
        <div class="header-top">
            <form action="/user/search" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" name="keyword" class="form-control" placeholder="" />
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <div class="header-top-right">
                <p style="font-size:24px;margin-top:-4px">中国民办大学第一</p>
                <p style="margin-top:-12px">一所注重学科交叉融合的应用型大学</p>
                <p style="margin-top:-15px">一所信息产业商学院 一所最受尊崇的大学</p>
                <div class="xq">綦江校区</div>
                <div class="yhm">
                    <span class="yhm_name" style="color:white">欢迎您:name</span>
                   <a href="##" class="yhm_btn" style="color:white">注销</a>
                </div>
            </div>
        </div>
        <div class="header-main">
            <ul class="header-main-uone">
                <li class="header-main-lone">
                    <span><a href="/" style="color:white" class="sy">首页</a></span>
                </li>
                <li class="header-main-lone">
                    <span>移通概况</span>
                    <ul>
                        <li>学校简介</li>
                        <li>校友天地</li>
                        <li>发展历程</li>
                        <li>校园风光</li>
                        <li>校徽校训</li>
                    </ul>
                </li>
                <li class="header-main-lone">
                    <span>机构设置</span>
                    <ul>
                        <li>学校简介</li>
                        <li>校友天地</li>
                        <li>发展历程</li>
                        <li>校园风光</li>
                        <li>校徽校训</li>
                    </ul>
                </li>
                <li class="header-main-lone">
                    <span>招生就业</span>
                    <ul>
                        <li>学校简介</li>
                        <li>校友天地</li>
                        <li>发展历程</li>
                        <li>校园风光</li>
                        <li>校徽校训</li>
                    </ul>
                </li>
                <li class="header-main-lone">
                    <span>四位一体</span>
                    <ul>
                        <li>学校简介</li>
                        <li>校友天地</li>
                        <li>发展历程</li>
                        <li>校园风光</li>
                        <li>校徽校训</li>
                    </ul>
                </li>
                <li class="header-main-lone">
                    <span>德国留学</span>
                    <ul>
                        <li>学校简介</li>
                        <li>校友天地</li>
                        <li>发展历程</li>
                        <li>校园风光</li>
                        <li>校徽校训</li>
                    </ul>
                </li>
                <li class="header-main-lone">
                    <span>文化移通</span>
                    <ul>
                        <li>学校简介</li>
                        <li>校友天地</li>
                        <li>发展历程</li>
                        <li>校园风光</li>
                        <li>校徽校训</li>
                    </ul>
                </li>
                <li class="header-main-lone">
                    <span>招贤纳士</span>
                    <ul>
                        <li>学校简介</li>
                        <li>校友天地</li>
                        <li>发展历程</li>
                        <li>校园风光</li>
                        <li>校徽校训</li>
                    </ul>
                </li>
                <li class="header-main-lone">
                    <span>广告服务</span>
                    <ul>
                        <li>学校简介</li>
                        <li>校友天地</li>
                        <li>发展历程</li>
                        <li>校园风光</li>
                        <li>校徽校训</li>
                    </ul>
                </li>
            </ul>
        </div>

    </header>
    <%- body %>
        <footer>
            <div class="footer-top">
                <ul>
                    <li>綦江校区 |</li>
                    <li>智慧门户 |</li>
                    <li>办公系统 |</li>
                    <li>教务内网 |</li>
                    <li>学工系统 |</li>
                    <li>乘车路线 |</li>
                    <li>院长信箱 |</li>
                    <li>联系我们 |</li>
                    <li>旧版官网 </li>
                </ul>
            </div>
            <div class="footer-main">
                <section class="foot-main-img1"><img src="/project/images/public2.png" width="180px" height="40px"></section>
                <p>重庆移通学院 版权所有 | 地址：重庆市合川大学城假日大道1号 | 邮编：401520 | 渝ICP备12002696号-1</p>
                <section class="foot-main-img2"><img src="/project/images/pubic3.gif" width="50px" height="75px"></section>
                <section class="foot-main-img3"><img src="/project/images/public4.gif" width="70px" height="75px"></section>
            </div>
        </footer>
</body>
<script src="/project/js/zx.js"></script>


</html>